# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# vscode
.vscode

# other
.DS_Store
eclipse
run
key.properties
reference/

# Files from Forge MDK
logs/
forge*changelog.txt
